body {
    background-color: #cae0c8;
    margin: 0;
    height: 100dvh;
    font-family: Arial, sans-serif;
}

.login {
    background-color: #a9e4cf;
    width: 300px;
    height: 300px;
    border-radius: 10%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.login label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #2d4a47;
}

.login input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
}

.login input:focus {
    outline: none;
    border: 2px solid #02fcf3;
}

.login button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;

    border: none;
    border-radius: 50px;

    background-color: #02fcf3;
    color: #2d4a47;

    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login button:hover {
    background-color: #00d8d0;
    transform: translateY(-3px);
}